{% extends 'main.html' %}{% block content %}
<div onload="startTime()">
  <h2>Clock</h2>

  <div id="txt"></div>

  <script>
    startTime();
    function startTime() {
      const today = new Date();
      let h = today.getHours();
      let m = today.getMinutes();
      let s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML = h + ':' + m + ':' + s;
      setTimeout(startTime, 1000);
    }

    function checkTime(i) {
      if (i < 10) {
        i = '0' + i;
      } // add zero in front of numbers < 10
      return i;
    }
  </script>

  <a href="{% url 'create' %}">Añadir Alarma</a>
  <h3>Alarms</h3>

  {% for alarm in alarms %}
  <li>{{alarm.title}}</li>
  {% endfor %}
</div>

{% endblock content %}
